img[src="assets/LOGO_SOLWIT.png"] {
    max-width: 500px;
    width: 100%;
    margin: 10% auto;
    display: block;
}

h3#mmotelgitbooksiots-ng-path-angular-part-1content,
h1#scieżka-ts-ng-angular-część-1 {
    text-align: center;
}
